<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:ignore="MissingPermission"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:ignore="MissingPermission"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPD">

        <!-- Splash screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login screen -->
        <activity android:name=".LoginActivity" />

        <!-- Dashboard screen -->
        <activity android:name=".DashboardActivity" />

        <!-- Screens for wattage generated, wattage consumed, and battery level -->
        <activity android:name=".WattageGeneratedActivity" />
        <activity android:name=".WattageConsumedActivity" />
        <activity android:name=".BatteryLevelActivity" />

    </application>

</manifest>
